@import "../../../colors.scss";

.set_header_background {
  fill: $set-background;
}

.set_header_foreground {
  fill: $set-foreground;
}

.set_highlight {
  fill: $set-background-highlight !important;
}

.sort_cursor {
  cursor: s-resize !important;
}

.stop_pointer_events {
  pointer-events: none;
}

.header_block {
  fill: $header-block;
  stroke: none;
}

.header_block:hover {
  fill: $header-block-highlight;
}

.axisFontSize {
  font-size: 0.8em;
}

.cardinality_slider_rect {
  fill: $cardinality-slider-rect;
  opacity: 0.5;
  stroke: black;
  stroke-width: 1px;
  transform: rotate(45deg);
  cursor: ew-resize;
  transition: transform 500ms;
}

.cardinality_slider_rect:hover {
  transform: rotate(45deg) scale(1.5);
  transition: transform 500ms;
}

.cardnality_brush {
  fill: $cardinality-brush-color;
  opacity: 0.25;
}

.slider_influence {
  fill: $cardinality-brush-color;
  opacity: 0.25;
  transition: opacity 500ms;
}

.hide {
  opacity: 0;
  transition: opacity 500ms;
}

.cardinality_block {
  opacity: 1;
  transition: opacity 500ms;
}
