@import "../../../colors.scss";

.is_set_member {
  fill: #636363;
}

.is_not_set_member {
  fill: #f0f0f0;
}

.set_highlight {
  fill: $set-background-highlight !important;
}

.set_highlight2 {
  fill: $set-background-highlight !important;
}

.combinations {
  pointer-events: all;
}

.negative_disproportionality {
  fill: $negative-disproportionality;
}

.positive_disproportionality {
  fill: $positive-disproportionality;
}

.deviation_line {
  stroke: black;
  stroke-width: 0.5px;
}

.matrix_view_line {
  stroke: #636363;
  stroke-width: 3px;
}
