$set-background: #f0f0f0;
$set-foreground: #636363;
$set-background-highlight: #fed9a6;
$header-block: #d3d3d3;
$header-block-highlight: #9e9e9e;
$cardinality-slider-rect: #ccc;
$cardinality-bar-color: #bdbdbd;
$cardinality-brush-color: #bdbdbd;
$negative-disproportionality: #f46d43;
$positive-disproportionality: #74add1;
